/* Estilo para el fondo de la página */
body {
    background-color: #f4f4f4; /* Fondo gris claro */
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
.header {
    background-color: #333; /* Fondo negro para el encabezado */
    color: #fff; /* Texto en color blanco */
    text-align: center;
    padding: 20px;
}

/* Estilo para el título */
.header h1 {
    font-size: 36px;
    margin: 0;
}


/* estilos para los botones*/
.boton {
    background-color: black;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boton img {
    width: 150px; /* Ajusta el ancho de las imágenes según tu preferencia */
    height: 50px; /* Ajusta la altura de las imágenes según tu preferencia */
}

.boton:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón por encima del botón */
}

.carrusel {
    width: 80%;
    margin: 0 auto;
}
.slick-prev, .slick-next {
    font-size: 14px;
    color: white;
    background: black;
    border: none;
    border-radius: 50%;
    padding: 15px 15px;
    cursor: pointer;
}
.slick-prev { left: -40px; }
.slick-next { right: -40px; }
